---
import Layout from '../../../layouts/Layout.astro';
import PageContent from '../../../components/ui/PageContent.astro';
import AwardsContent from '../../../content/awards.md';
import { translations } from '../../../data/translations';
import './index.css';

export async function getStaticPaths() {
  return [
    { params: { lang: 'jp' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
const t = translations[lang as keyof typeof translations];
---
<Layout title={t.awardsTitle}>
  <PageContent>
    <div class="awards-content">
      <h1>{t.awardsTitle}</h1>
      <article>
        <AwardsContent />
      </article>
    </div>
  </PageContent>
</Layout>