:root {
  --color-bg: #fff;
  --color-text: #111;
  --color-subtext: #222;
  --color-accent: #2e7d32;
  --color-border: #bbb;
  --color-top-title: #fff;
  --color-footer-text: #fff;
  --color-footer-bg: #757575;
}
