:root {
  --color-bg: #fff;
  --color-bg-secondary: #f9f9f9;
  --color-text: #111;
  --color-text-secondary: #fff;
  --color-subtext: #222;
  --color-accent: #5ba74b;
  --color-accent-hover: #4b873b;
  --color-border: #bbb;
  --color-top-title: #fff;
  --color-footer-text: #fff;
  --color-footer-bg: #757575;

  /* PC版フォントサイズ */
  --font-size-xlg: 32px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 16px;
}

/* SP版フォントサイズ */
@media (max-width: 768px) {
  :root {
    --font-size-xlg: 24px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
    --font-size-sm: 12px;
  }
}
